/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}

body{
  width: 100%;
  background: black;
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1rem;
  }
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  .navbar-brand{
    width: auto;
    img{
      height: 75px;
    }
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    a{
      margin: 3rem 1.5rem 0 0;
      color: silver;
      text-decoration: none;
      font-weight: bold;
      height: 1.5rem;
      font-size: 1.5rem;
    }
  }
}


.landing{
  margin-top: 15rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  h1{
    color: silver;
    font-style: italic;
    font-size: 200%;
  }
  .landing_logo{
    margin: auto;
    width: 25%;
  }
}

.log-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15rem auto;
  background: black;
  color: silver;
  width: 300px;
  height: 300px;
  text-align: center;
  form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    label{
      padding: 0 0.5rem 0 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    input{
      background: black;
      color: silver;
      border: none;
      border-bottom: 1px solid silver;
      &:focus{
        outline: none;
      }
    }
  }
  .form-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 .5rem 0 .5rem;
    a{
      text-decoration: none;
      color: silver;
    }
  }
  button{
    background: black;
    color: silver;
    border: none;
  }
}